.all{
    height:100%;
    background-color: #505455;
    color:white;
    float: left;
    width:5%;
}
.ant-menu,.ant-menu-sub,.ant-menu-inline{
    background-color: white;
}
.bj{
    height:100%;
}